.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul li a:hover {
  color: #879297;
}

ul li a.active {
  color: #ffffff;
}

nav {
  background-color: #1db954; /* Green color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  width: 100%;
  word-break: break-word;
}

@media (max-width: 373px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 10px 0;
  }
}

select {
  appearance: none; /* Remove default browser styling */
  background-color: #1db954; /* Light gray background */
  border: 1px solid #d3d3d3; /* Light gray border */
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  width: 125px; /* Adjust width as needed */
  height: 30px;
  content: '\25BC';
  margin-left: 3px;
  margin-top: 5px;
  margin-right: 10px;
}

.song-limit-select {
  width: 50px; /* Adjust width as needed */
}

select:hover {
  background-color: #18a94e; /* Slightly darker shade on hover */
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

select:active {
  background-color: #0f6830; /* Slightly darker shade on hover */
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

select:focus {
  background-color: #0f6830; /* Slightly darker shade on hover */
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #1db954; /* Spotify green color */
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  width: 125px; /* Adjust width as needed */
  height: 30px;
}

.fetch-data-button {
  width: 125px;
  margin: 5px;
}

button:hover {
  background-color: #18a94e; /* Slightly darker shade on hover */
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #0f6830; /* Slightly darker shade on hover */
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.top-song-button-drop-down {
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap to the next line */
  margin: 5px;
}

@media (max-width: 430px) { /* Adjust the breakpoint as needed */
  .top-song-button-drop-down {
    display: block; /* Change to block display for smaller screens */
  }
}

.top-tracks-song-list {
  margin: 5px;
}